* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    display: flex;
    height: 100vh;
}

.container-left {
    background-color: rgba(82, 188, 250, 0.445);;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.logo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ffff;
}

.logo img {
    max-width: 100%;
}








